{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block body %}

    <!-- header START -->
    <header>
        <div class="inner">
            <img src="{% static logo_link %}" alt="{% trans 'LOGO [Mospolytech Activity]' %}"/>
        </div>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main>
        <div class="inner">
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <p>{{ username }}</p>
        <p><a href="{% url 'logout' %}">{% trans "Log Out" %}</a></p>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add 'body-container' class to body
        document.body.classList.add("body-container")
    </script>
{% endblock %}