{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
    {{ search_info_form.media }}
    <!-- main START -->
    <main class="container-fluid">
        <div class="row flex-nowrap">
            <!-- sidebar menu START -->
            <div class="col-auto g-0">
                {# TODO: fix laggy collapse #}
                <div id="sidebar" class="collapse collapse-horizontal show vh-100 border-end">
                    <div class="custom-container px-4">
                        <header class="text-center my-3" style="max-width: 310px;">
                            <div class="inner" style="padding: 0;">
                                <img src="{% static logo_link %}" alt="{% trans 'LOGO [Mospolytech Activity]' %}"/>
                            </div>
                        </header>
                        <div class="content">
                            <form style="align-self: center;">
                                <h5 class="fw-light mb-2 text-truncate">{% trans "Student Search" %}</h5>
                                {# TODO: type directly in control (not input box) for single-select "student" #}
                                <p> {{ search_info_form.student }} </p>
                                <p> {{ search_info_form.group }} </p>
                                <h5 class="fw-light mt-4 mb-2 text-truncate">{% trans "Display" %}</h5>
                                <p> {{ search_info_form.display_type }} </p>
                                <p> {{ search_info_form.date_day }} </p>
                                <p> {{ search_info_form.date_week }} </p>
                                <p> {{ search_info_form.date_month }} </p>
                                <div id="form-buttons" class="row mt-4">
                                    <div class="col-sm-6 mb-3">
                                        <button type="button" id="btn-search" class="btn btn-primary">
                                            {% trans "Search" %}
                                        </button>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <button type="button" class="btn btn-light disabled"
                                                style="border-color: #babbbc;">
                                            {% trans "Export" %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <footer class="text-center">
                            <a href="#" class="text-decoration-none text-truncate"
                               data-bs-toggle="modal" data-bs-target="#about_modal">
                                {% trans "About Service" %}
                            </a>
                        </footer>
                    </div>
                </div>
            </div>
            <!-- sidebar menu END -->

            <!-- modal START -->
            <div class="modal fade" id="about_modal" tabindex="-1"
                 aria-labelledby="about_modal_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="about_modal_label">{% trans "About Service" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <h6>{% trans "In order to use the service" %}:</h6>
                            <br>
                            <p>
                                <b>1.</b>
                                {% trans "Enter the student's case-sensitive full name in the first field. The search will be performed across all groups. If you want to search for a specific group/groups, enter the number of the group you are interested in in the second field. After specifying it, a list of students of this group will be displayed. Next, select the required student from the updated list." %}
                            </p>
                            <p>
                                <b>2.</b>
                                {% trans "Below, in the third field, select the date display format: 'Day', 'Week', 'Month'. Then select the desired date." %}
                            </p>
                            <p>
                                <b>3.</b>
                                {% trans "After clicking the 'Search' button, the entire attendance of the student you are interested in during the specified period will be displayed." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal END -->

            <!-- primary screen START -->
            <div class="col g-0 custom-container" style="height: 100vh;">
                <!-- navbar menu START -->
                <nav class="container-fluid border-bottom">
                    <div class="row align-items-center" style="min-height: 96px;">
                        <div class="col-auto">
                            <a href="#" class="text-decoration-none" data-bs-target="#sidebar"
                               data-bs-toggle="collapse">
                                <i id="sidebar-icon" class="bi bi-x-lg bi-lg py-2 p-1"></i>
                                <span>{% trans "Menu" %}</span>
                            </a>
                        </div>
                        <div id="nav-selected-student" class="col-lg">
                            <h5 class="fw-light m-0">{% trans "Select a student to see the information" %}</h5>
                        </div>
                        <div class="col-auto">
                            <span class="me-2">{% trans "You are logged in as" %} <b>{{ username }}</b></span>
                            {% if user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="text-decoration-none">
                                    {% trans "View admin panel" %}
                                </a>
                                <span> / </span>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="text-decoration-none">
                                {% trans "Log Out" %}
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- navbar menu END -->

                <!-- content START -->
                <div id="main-content" class="p-4 content">
                    <!-- empty filler START -->
                    <div id="empty_filler" class="inner" style="display: none;">
                        <header>
                            <div class="inner">
                                <img src="{% static 'main/graphics/empty_filler.svg' %}"
                                     alt="{% trans 'Empty Filler (svg)' %}"
                                     style="opacity: 0.5; display: block; margin: auto;"/>
                            </div>
                        </header>
                        <div>
                            <p style="text-align: center;">{% trans "You haven't selected any students yet" %}</p>
                            <br>
                        </div>
                    </div>
                    <!-- empty filler END -->

                    <!-- zero schedule START -->
                    <div id="zero_schedule" class="inner" style="display: none;">
                        <div style="display: flex;">
                            <div class="inner-wide" style="padding-left: 0 !important; margin-bottom: 40px;">
                                <i id="z-btn-day-prev" class="bi bi-chevron-left"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                            <div>
                                <header>
                                    <div class="inner">
                                        <img src="{% static 'main/graphics/zero_schedule_filler.svg' %}"
                                             alt="{% trans 'Zero Schedule Filler (svg)' %}"
                                             style="opacity: 0.5; display: block; margin: auto;"/>
                                    </div>
                                </header>
                                <div style="text-align: center;">
                                    <p>{% trans "No schedule was found for specified dates" %}</p>
                                    <a href="{% url 'index' %}" class="text-decoration-none">
                                        {% trans "Reset search parameters" %}
                                    </a>
                                </div>
                            </div>
                            <div class="inner-wide" style="padding-right: 0 !important; margin-bottom: 40px;">
                                <i id="z-btn-day-next" class="bi bi-chevron-right"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                    <!-- zero schedule END -->

                    <!-- schedule day START -->
                    <div id="schedule_day" class="inner-wide" style="display: none;">
                        <div style="display: flex;">
                            <div class="inner-wide" style="padding-left: 0 !important; margin-bottom: 40px;">
                                <i id="btn-day-prev" class="bi bi-chevron-left"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                            <div>
                                <div id="schedule_day_row" class="row" style="overflow-y: scroll; height:70vh;">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                                <div style="text-align: center;">
                                    <br>
                                    <a href="{% url 'index' %}" class="text-decoration-none">
                                        {% trans "Reset search parameters" %}
                                    </a>
                                </div>
                            </div>
                            <div class="inner-wide" style="padding-right: 0 !important; margin-bottom: 40px;">
                                <i id="btn-day-next" class="bi bi-chevron-right"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                    <!-- schedule day END -->

                    <!-- schedule week START -->
                    <div id="schedule_week" class="inner container" style="display: none">

                    </div>
                    <!-- schedule week END -->

                    <!-- schedule month START -->
                    <div id="schedule_month" class="inner container" style="display: none">
                        <div style="display: flex;">
                            <div class="inner-wide" style="padding-left: 0 !important; margin-bottom: 40px;">
                                <i id="btn-day-prev" class="bi bi-chevron-left"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                            <div>
                                <div id="schedule_day_row" class="row" style=" height:70vh;">
                                    <table table id="monthCalendar" class="month-calendar">
                                        
                                        <tr id="week_tr" style="display:flex; margin-top:16px; grid-gap:16px"></tr>
                                    </table>
                                    
                                </div>
                            </div>
                            
                            <div class="inner-wide" style="padding-right: 0 !important; margin-bottom: 40px;">
                                <i id="btn-day-next" class="bi bi-chevron-right"
                                   style="font-size: 32px; cursor: pointer;"></i>
                            </div>
                        </div>
                        
                    </div>
                    <!-- schedule month END -->
                </div>
                <!-- content END -->
            </div>
            <!-- primary screen END -->
        </div>
    </main>
    <!-- main END -->
{% endblock %}

{% block extra_js %}
    <script>
        const sidebar = document.getElementById("sidebar");
        const btn_sidebar_icon = document.getElementById("sidebar-icon");
        sidebar.addEventListener("shown.bs.collapse", () => {
            btn_sidebar_icon.className = "bi bi-x-lg bi-lg py-2 p-1";
        });
        sidebar.addEventListener("hidden.bs.collapse", () => {
            btn_sidebar_icon.className = "bi bi-list bi-lg py-2 p-1";
        });
    </script>
{% endblock %}