{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
    {{ search_info_form.media }}
    <!-- main START -->
    <main class="container-fluid">
        <div class="row flex-nowrap">
            <!-- sidebar menu START -->
            <div class="col-auto g-0">
                <div id="sidebar" class="collapse collapse-horizontal show min-vh-100 border-end">
                    <div class="px-4">
                        <div id="logo_container" class="mb-5" style="max-width: 310px;">
                            <header>
                                <div class="inner" style="padding: 0px;">
                                    <img src="{% static logo_link %}" alt="{% trans 'LOGO [Mospolytech Activity]' %}"/>
                                </div>
                            </header>
                        </div>
                        <form>
                            <h5 class="fw-light mb-2 text-truncate">Student Search</h5>
                            <p> {{ search_info_form.student }} </p>
                            <p> {{ search_info_form.group }} </p>
                            <h5 class="fw-light mt-4 mb-2 text-truncate">Display</h5>
                            <p> {{ search_info_form.display_type }} </p>
                            <p> {{ search_info_form.date }} </p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- sidebar menu END -->

            <!-- primary screen START -->
            <div class="col g-0">
                <!-- navbar menu START -->
                <nav class="container-fluid border-bottom">
                    <div class="row py-2">
                        <div class="col-lg-2">
                            <a href="#" class="text-decoration-none me-4" data-bs-target="#sidebar"
                               data-bs-toggle="collapse">
                                <i id="sidebar-icon" class="bi bi-x-lg bi-lg py-2 p-1"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <h5 class="fw-light m-0">Select a student to see the information</h5>
                        </div>
                        <div class="col-lg-5 border-start">
                            <span class="me-2">You are logged in as <b>{{ username }}</b></span>
                            <a href="{% url 'logout' %}" class="text-decoration-none">
                                {% trans "Log Out" %}
                            </a>
                        </div>
                    </div>
                </nav>
                <script>
                    const sidebar = document.getElementById("sidebar");
                    const btn_sidebar_icon = document.getElementById("sidebar-icon");
                    sidebar.addEventListener("shown.bs.collapse", event => {
                        btn_sidebar_icon.className = "bi bi-x-lg bi-lg py-2 p-1";
                    });
                    sidebar.addEventListener("hidden.bs.collapse", event => {
                        btn_sidebar_icon.className = "bi bi-list bi-lg py-2 p-1";
                    });
                </script>
                <!-- navbar menu END -->

                <!-- content START -->
                <div class="p-4">
                    <div class="page-header pt-3">
                        <h2>Mospolytech Activity</h2>
                    </div>
                    <p class="lead">Index page</p>
                    <hr>
                    <p>
                        Nulla ultrices ligula libero, in pretium augue aliquam a. Proin pellentesque aliquam
                        arcu at congue. Nunc gravida vitae enim et molestie. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Aliquam convallis eros turpis.
                        Pellentesque pulvinar interdum turpis, ac aliquam libero dignissim ut. Vestibulum nec
                        orci quis mi tincidunt blandit. Integer vulputate justo sed ullamcorper pellentesque.
                        Nunc sit amet consequat neque, imperdiet sodales velit. Maecenas ligula libero, volutpat
                        hendrerit diam vitae, consequat bibendum mauris. Maecenas purus massa, laoreet sit amet
                        bibendum sed, gravida eu sapien. Fusce semper accumsan dictum. Pellentesque at accumsan
                        augue, quis varius lectus. Nullam ullamcorper ipsum sapien, sit amet iaculis lectus
                        viverra sit amet.
                    </p>
                </div>
                <!-- content END -->
            </div>
            <!-- primary screen END -->
        </div>
    </main>
    <!-- main END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add 'body-container' class to #logo_container
        document.getElementById("logo_container").classList.add("body-container");
    </script>
{% endblock %}