/* GENERAL */

:root {
    --white: #FFFFFF;
    --light: #F5F5F5;
    --bs-border-color: #DEE2E6;
    --secondary: #CED4DA;
    --text-secondary: #6C757D;
    --dark: #212529;
    --primary: #0D6EFD;
    --pr-accent: #86B7FE;
}

*:focus {
    box-shadow: none !important;
}

html,
body {
    background-color: var(--light);
    height: 100%;
    margin: 0;
}


/* CUSTOM CONTAINER */

.custom-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.custom-container header {
    flex: 0 1 auto;
    margin-top: 16px;
    margin-bottom: 32px;
}

.custom-container header .inner {
    max-width: 544px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}

.custom-container header .inner img {
    width: 100%;
    height: auto;
    margin: auto;
}

.custom-container .content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.custom-container .content .inner {
    align-self: center;
    max-width: 544px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}

.custom-container .content .inner-wide {
    align-self: center;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}

.custom-container footer {
    flex: 0 1 40px;
    margin-top: 32px;
    margin-bottom: 16px;
}


/* AUTH PAGE */

.auth-error-alert {
    max-width: 544px;
    padding: 0 16px 0 16px;
}

.form-login {
    width: 100%;
    max-width: 320px;
    min-width: 256px;
    padding: 0 16px 0 16px;
    margin: auto;
}

.form-floating-group input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-text {
    cursor: pointer;
    background-color: var(--white);
}

.form-check .form-check-input {
    float: none;
    margin-left: 0;
    padding-left: 0;
}


/* INDEX PAGE */

#sidebar {
    background-color: var(--white);
}

nav {
    background-color: var(--white);
}

#form-buttons .btn {
    width: 100%;
}


/* CARD-SCHEDULE */

.card-schedule {
    margin: 14px 0 6px 0;
    height: 150px;
    min-width: 335px;
    max-width: 696px;
}

.activity_bar {
    background-color: var(--secondary);
    height: 100%;
    width: 10% !important;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}


/* WEEK DISPLAY */

.activity_bar_week {
    background-color: var(--secondary);
    height: 100%;
    width: 100% !important;
    border-bottom-left-radius: inherit;
    margin-top: 10px;
    border-bottom-right-radius: inherit;
}

.card_card-schedule_row {
    width: 102px;
    padding: 10px 0;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.card_card-schedule_row.empty {
    background-color: var(--light) !important;
    border: 1px solid var(--secondary);
}

.weekdays {
    width: 102px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 8px;
}


/* MONTH DISPLAY */

.calendar-day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 5px;
}

.month-day {
    width: 102px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 8px;
}

#monthCalendar tr {
    display: flex;
    margin-bottom: 40px;
    gap: 16px;
}


/* YEAR ACTIVITY TABLE */
.activity-table-label {
    margin-bottom: 2px;
    margin-top: 16px;
}

#year-activity-table-container td {
    border: 1px solid var(--secondary);
    color: var(--text-secondary);
    text-align: center;
}

#year-activity-table-container td.in-range {
    background-color: var(--secondary);
    color: #000000;
}

td.in-range.red {
    border: 1px solid #DC3545 !important;
    background-color: #DC3545 !important;
    color: #FFFFFF !important;
}

td.in-range.yellow {
    border: 1px solid #FFC107 !important;
    background-color: #FFC107 !important;
    color: #000000 !important;
}

td.in-range.green {
    border: 1px solid #198754 !important;
    background-color: #198754 !important;
    color: #FFFFFF !important;
}

td.in-range.unchecked {
    background-color: #A3AAB1 !important;
    color: #000000;
}